<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="signup-content">
    <div class="signup-box">
      <ion-grid>
        <ion-row class="ion-justify-content-center">

          <ion-avatar class="ion-avatar">
            <img height="100px" [src]="user?.avatar_url" *ngIf="user.avatar_url; else nophoto">
            <ng-template #nophoto>
              <img height="100px" src="assets/images/useravatar.png">
            </ng-template>
          </ion-avatar>

          <div class="ion-padding">
            <h4>{{user?.first_name}} {{user?.last_name}}</h4>
            <h6>{{user?.email}}</h6>
          </div>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-item [routerLink]="['/client/client-tabs/profile/profile-edit']" routerLinkActive="router-link-active">
              <ion-label>Personal Information</ion-label>
              <ion-icon slot="end" name="person"></ion-icon>
            </ion-item>
            <ion-item [routerLink]="['/client/client-tabs/profile/payments']" routerLinkActive="router-link-active">
              <ion-label>
                Payment & Payouts</ion-label>
              <ion-icon slot="end" name="card"></ion-icon>
            </ion-item>
            <ion-item [routerLink]="['/client/client-tabs/profile/notifications']"
              routerLinkActive="router-link-active">
              <ion-label>Notifications</ion-label>
              <ion-icon slot="end" name="notifications"></ion-icon>
            </ion-item>

            <ion-item *ngIf="state === 'host'" (click)="switchToUser()">
              <ion-label>Switch To Guest</ion-label>
              <ion-icon slot="end" name="switch"></ion-icon>
            </ion-item>

            <ion-item-divider>
              <ion-label>
                <strong>HOSTING</strong>
              </ion-label>
            </ion-item-divider>

            <ion-item *ngIf="state === 'guest'" (click)="switchToHosting()">
              <ion-label>Switch To Hosting</ion-label>
              <ion-icon slot="end" name="switch"></ion-icon>
            </ion-item>

            <ion-item (click)="listProperty()">
              <ion-label>List Your Property</ion-label>
              <ion-icon slot="end" name="home"></ion-icon>
            </ion-item>

            <ion-item-divider>
              <ion-label>
                <strong>LEGAL</strong>
              </ion-label>
            </ion-item-divider>

            <ion-item [routerLink]="['/client/client-tabs/profile/terms-and-conditions']"
              routerLinkActive="router-link-active">
              <ion-label>Terms & Conditions</ion-label>
              <ion-icon slot="end" name="document"></ion-icon>
            </ion-item>

            <ion-item [routerLink]="['/client/client-tabs/profile/privacy-policy']"
              routerLinkActive="router-link-active">
              <ion-label>Privacy Policy</ion-label>
              <ion-icon slot="end" name="lock"></ion-icon>
            </ion-item>

            <ion-item-divider>
              <ion-button fill="clear" color="danger" (click)="logout()">
                <ion-icon slot="start" name="log-out"></ion-icon>
                Logout
              </ion-button>
            </ion-item-divider>
          </ion-col>
        </ion-row>


      </ion-grid>

    </div>
  </div>
</ion-content>