:root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
}


.trial {
    flex-direction: row;
}

.scrolling-wrapper {
    overflow-x: scroll;
    // overflow-y: hidden;
    white-space: nowrap;

    .card {
        display: inline-block;
        padding-right: 10px;
        width: 50%;
    }

    .ion-avatar {
        height: 100px !important;
        width: 100px !important;
    }


}

.heading {
    margin-bottom: 6px !important;
    margin-top: 6px !important;
}

ion-col {
    padding: 0;
}