<ion-header>
  <ion-toolbar color="dark">
    <ion-title>HomeStay</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-searchbar showCancelButton="focus"></ion-searchbar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-text class="ion-padding-start">
        <h5 class="heading">Top Cities</h5>
      </ion-text>
      <div class="scrolling-wrapper">
        <ion-avatar class="ion-avatar card ion-padding" *ngFor=" let city of topCities">
          <img height="100px" src="{{city?.img}}">
          <p class="ion-text-center"><small><span><strong> {{city?.city}}</strong></span></small></p>
        </ion-avatar>
      </div>
    </ion-row>

    <ion-row>

      <ion-card *ngFor="let listing of listings" [routerLink]="['/client/client-tabs/find/property-details']"
        [queryParams]="{id: listing?.id}" routerLinkActive="router-link-active">
        <ion-slides pager="true" class="landing_bg" #mySlider (ionSlideDidChange)="onSlideChanged()">
          <ion-slide *ngFor="let image of listing?.gallery">
            <div>
              <img style="height: 30vh; width: 100vw;" src="{{image}}" alt="">
            </div>
          </ion-slide>
        </ion-slides>
        <ion-card-content style="padding-top: 5px;;">
          <ion-grid class="ion-no-padding">
            <ion-row>
              <ion-card-subtitle>{{listing?.property_name | uppercase}}</ion-card-subtitle>
            </ion-row>
            <ion-row>
              <ion-col size="4">
                <small><strong>{{listing?.rentable_space}}</strong></small>
              </ion-col>
              <ion-col size="8">
                <small><strong>{{listing?.price_per_night | currency: 'Ksh '}} / Night</strong></small>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <small><strong>{{listing?.number_of_beds}} Bed<span *ngIf="listing?.number_of_beds > 1">s</span>
                  </strong></small>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>

    </ion-row>
  </ion-grid>
</ion-content>