<ion-header>
  <ion-toolbar color="dark">
    <ion-title>My Listings</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/host/host-tabs/listings/add-listing']" routerLinkActive="router-link-active">
        <ion-icon slot="start" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card *ngFor="let listing of myListings" [routerLink]="['/host/host-tabs/listings/my-listing-details']"
    [queryParams]="{id: listing?.id}" routerLinkActive="router-link-active">
    <ion-slides pager="true" class="landing_bg" #mySlider (ionSlideDidChange)="onSlideChanged()">
      <ion-slide *ngFor="let image of listing?.gallery">
        <div>
          <img style="height: 30vh; width: 100vw;" src="{{image}}" alt="">
        </div>
      </ion-slide>
    </ion-slides>
    <ion-card-content style="padding-top: 5px;;">
      <ion-grid no-padding>
        <ion-row>
          <ion-col size="12">
            <ion-card-subtitle>{{listing?.property_name | uppercase}}</ion-card-subtitle>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">
            <small><strong>{{listing?.rentable_space}}</strong></small>
          </ion-col>
          <ion-col size="4">
            <small class="ion-padding-start"><strong>{{listing?.number_of_beds}} Beds</strong></small>
          </ion-col>
          <ion-col size="4">
            <small><strong>{{listing?.price_per_night | currency: 'KSH '}}</strong></small>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <p><span style="color: #10dc60;">Available</span></p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>