<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Reset Password</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="signup-content">
    <div class="signup-box">
      <p class="ion-text-center">Enter your account's email address</p>
      <form #reset="ngForm" (submit)="reset.form.valid && resetPassword()" class="ion-padding-top">
        <ion-row>
          <ion-col>
            <ion-list inset>
              <ion-item>
                <ion-input type="email" placeholder="Email" name="email" [(ngModel)]="email" required></ion-input>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <br>
        <ion-row>
          <ion-col class="signup-col">
            <ion-button type="submit" class="submit-btn" expand="block" fill="solid" type="submit"
              [disabled]="!reset.form.valid">Submit</ion-button>
          </ion-col>
        </ion-row>
      </form>

    </div>
  </div>
</ion-content>