.signup-content {
    height: 100%;
    background: #eceff1;
}

.logo-row {
    height: 20%;
    padding-top: 50px;
    padding-bottom: 20px;
}

.signup-box {
    height: 70%;
    // background: #42a5f5;
    padding: 20px 20px 0px 20px;
    margin-top: auto;
}

ion-row {
    align-items: center;
    text-align: center;
}

ion-item {
    border-radius: 30px !important;
    padding-left: 30px !important;
    font-size: 0.9em;
    margin-bottom: 10px;
    border: 1px solid #ffffff;
    border-bottom: 0px !important;
    box-shadow: none !important;
}

.signup-col {
    margin: 0px 16px 0px 16px;
    padding-bottom: 20px;
}

// .item-inner {
//     border-bottom-color: #ffffff !important;
//     box-shadow: none !important;
// }




.signup {
    display: flex;

    p {
        flex: 2;
        text-align: center;
        padding-left: 10px;
    }

    button {
        flex: 1
    }

}