.next_button {
    background-color: black;
    /* Green */
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    // font-size: 16px;
    border-radius: 10px;
}

.back_button {
    background-color: #ffffff;
    border: 1px solid black;
    color: black;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    margin-right: 10px;
}

#map {
    position: relative;
    width: 100%;
    height: 400px;
}

.form-control {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 0;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
}

.form-control[type=text]:focus {
    border: 3px solid #555;
}

.invalid {
    border-bottom: 1px solid #ea6153;
}