<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>
      List Your Space
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <mat-vertical-stepper linear="true" #stepper>
    <!-- Property Basic information -->
    <mat-step>
      <ng-template matStepLabel>Property Basic Info</ng-template>
      <form action="" [formGroup]="basicForm">
        <ion-item>
          <ion-label position="stacked">Property Name</ion-label>
          <ion-input name="property_name" formControlName="property_name"
            [class.invalid]="!basicForm.controls.property_name.valid && (basicForm.controls.property_name.dirty || submitAttempt )">
          </ion-input>
        </ion-item>
        <!-- <div class="ion-padding-start"
          *ngIf="!basicForm.controls.property_name.valid && (basicForm.controls.property_name.dirty || submitAttempt)">
          <small class="text-danger">Property name is required</small>
        </div> -->

        <ion-item>
          <ion-label position="stacked">Property Type</ion-label>
          <ion-select name="property_type" formControlName="property_type" interface="action-sheet"
            [class.invalid]="!basicForm.controls.property_type.valid && (basicForm.controls.property_type.dirty || submitAttempt )">
            <ion-select-option value="Flat">Flat</ion-select-option>
            <ion-select-option value="Serviced Apartment">Serviced Apartment</ion-select-option>
            <ion-select-option value="Bungalow">Bungalow</ion-select-option>
            <ion-select-option value="Cottage">Cottage</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Rentable Space</ion-label>
          <ion-select name="rentable_space" formControlName="rentable_space" interface="action-sheet"
            [class.invalid]="!basicForm.controls.rentable_space.valid && (basicForm.controls.rentable_space.dirty || submitAttempt )">
            <ion-select-option value="Whole Space">Whole Space</ion-select-option>
            <ion-select-option value="Private Space">Private Space</ion-select-option>
            <ion-select-option value="Shared Space">Shared Space</ion-select-option>
          </ion-select>
        </ion-item>
        <br>

        <ion-item>
          <ion-label position="stacked">Property Description</ion-label>
          <ion-textarea name="property_description" name="property_description" formControlName="description" rows="4">
          </ion-textarea>
        </ion-item>

        <ion-row class="ion-justify-content-end ion-padding">
          <button class="next_button" (click)="nextStep('pi')">Next</button>
        </ion-row>
      </form>
    </mat-step>

    <!-- Guest Information -->
    <mat-step label="Guest Information">
      <form action="" [formGroup]="guestForm">
        <ion-row>
          <ion-col size="2">
            <ion-button color="danger" fill="clear" (click)="minus('Guests')">
              <ion-icon name="remove"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="8">
            <ion-item>
              <ion-label position="stacked">Number of Guests</ion-label>
              <ion-input type="number" formControlName="number_of_guests"
                [class.invalid]="!guestForm.controls.number_of_guests.valid && (guestForm.controls.number_of_guests.dirty || submitAttempt )">
              </ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="2">
            <ion-button color="success" (click)="increase('Guests')" fill="clear">
              <ion-icon name="add"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="2">
            <ion-button color="danger" fill="clear" (click)="minus('Bedrooms')">
              <ion-icon name="remove"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="8">
            <ion-item>
              <ion-label position="stacked">Number of Bedrooms</ion-label>
              <ion-input type="number" formControlName="number_of_bedrooms"
                [class.invalid]="!guestForm.controls.number_of_bedrooms.valid && (guestForm.controls.number_of_bedrooms.dirty || submitAttempt )">
              </ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="2">
            <ion-button color="success" fill="clear" (click)="increase('Bedrooms')">
              <ion-icon name="add"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="2">
            <ion-button color="danger" fill="clear" (click)="minus('Beds')">
              <ion-icon name="remove"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="8">
            <ion-item>
              <ion-label position="stacked">Number of Beds</ion-label>
              <ion-input type="number" formControlName="number_of_beds"
                [class.invalid]="!guestForm.controls.number_of_beds.valid && (guestForm.controls.number_of_beds.dirty || submitAttempt )">
              </ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="2">
            <ion-button color="success" fill="clear" (click)="increase('Beds')">
              <ion-icon name="add"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="2">
            <ion-button color="danger" fill="clear" (click)="minus('Bathrooms')">
              <ion-icon name="remove"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="8">
            <ion-item>
              <ion-label position="stacked">Number of Bathrooms</ion-label>
              <ion-input type="number" formControlName="number_of_bathrooms"
                [class.invalid]="!guestForm.controls.number_of_bathrooms.valid && (guestForm.controls.number_of_bathrooms.dirty || submitAttempt )">
              </ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="2">
            <ion-button color="success" fill="clear" (click)="increase('Bathrooms')">
              <ion-icon name="add"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-end ion-padding">
          <button class="back_button" matStepperPrevious>Back</button>
          <button class="next_button" (click)="nextStep('gi')">Next</button>
        </ion-row>
      </form>

    </mat-step>

    <!-- Ammenities -->
    <mat-step label="Available Ammenities">
      <ion-list>
        <form action="" [formGroup]="ammenityForm">
          <ion-item *ngFor="let ammenity of ammenityForm.get('ammenities')['controls']; let i=index;">
            <ion-label>
              <h6>{{ammenities[i].name}}</h6>
              <small>{{ammenities[i].description}}</small>
            </ion-label>
            <ion-checkbox color="dark" slot="end" [formControl]="ammenity"
              (ionChange)="getSelectedAmmenities(ammenity, ammenities[i].name);"></ion-checkbox>
          </ion-item>
        </form>
      </ion-list>
      <ion-row class="ion-justify-content-end ion-padding">
        <button class="back_button" matStepperPrevious>Back</button>
        <button class="next_button" matStepperNext>Next</button>
      </ion-row>
    </mat-step>

    <!-- Location and Landmark -->
    <mat-step label="Location & Landmark">
      <form action="" #locStepper="ngForm">
        <ion-item>
          <ion-label position="stacked">Property Location</ion-label>
          <input name="property_name" required="true" [(ngModel)]="listingLocation.address" name="address" type="search"
            class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location"
            autocorrect="off" autocapitalize="off" spellcheck="off" id="location" #search required>
        </ion-item>
        <br>
        <!-- <div id="map">
        </div> -->
        <br>
        <ion-item>
          <ion-label position="stacked">Property Landmark</ion-label>
          <ion-input name="property_landmark" [(ngModel)]="listing.landmark"></ion-input>
        </ion-item>

        <ion-row class="ion-justify-content-end ion-padding">
          <button class="back_button" matStepperPrevious>Back</button>
          <button class="next_button" (click)="nextStep('loc')">Next</button>
        </ion-row>
      </form>
    </mat-step>

    <!-- Gallery Upload -->
    <mat-step label="Property Gallery">
      <ion-row>
        <ion-col size="4" *ngFor="let photo of photos">
          <img [src]="photo.data" />
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-start">
        <ion-col size="12">
          <ion-thumbnail>
            <img src="assets/images/upload.png" (click)="uploadGallery()" alt="">
          </ion-thumbnail>
          <ion-label position="stacked">Image Uploads</ion-label>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-end ion-padding">
        <button class="back_button" matStepperPrevious>Back</button>
        <button class="next_button" matStepperNext>Next</button>
      </ion-row>
    </mat-step>

    <!-- Additional Info -->
    <mat-step label="Additonal Info">
      <form action="" #aiStepper="ngForm">
        <ion-item>
          <ion-label position="stacked">Contact Person's Name</ion-label>
          <ion-input name="contact_name" required="true" [(ngModel)]="listing.contact_person_name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Contact Person's Phone Number </ion-label>
          <ion-input name="contact_phone_number" [(ngModel)]="listing.contact_number" required="true"></ion-input>
        </ion-item>

        <ion-row class="ion-justify-content-end ion-padding">
          <button class="back_button" matStepperPrevious>Back</button>
          <button class="next_button" (click)="nextStep('ai')">Next</button>
        </ion-row>
      </form>
    </mat-step>

    <!-- Billing Info -->
    <mat-step label="Billing Info">
      <form action="" #billingStepper="ngForm">
        <ion-item>
          <ion-label position="stacked">Price Per Night</ion-label>
          <ion-input name="price_per_night" required="true" type="number" placeholder="KES"
            [(ngModel)]="listing.price_per_night">
          </ion-input>
        </ion-item>
        <br>

        <ion-row class="ion-justify-content-end ion-padding">
          <button class="back_button" matStepperPrevious>Back</button>
          <!-- <button class="next_button" matStepperNext>Next</button> -->
          <ion-button size="small" color="primary" (click)="createListing()">
            <ion-icon slot="start" name="add"></ion-icon>
            Submit
          </ion-button>
        </ion-row>
      </form>
    </mat-step>

  </mat-vertical-stepper>
</ion-content>