<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Create Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="signup-content">
    <div class="signup-box">
      <ion-item-group>
        <ion-grid>
          <form #signup="ngForm" (submit)="signup.form.valid && onSignUp()">
            <ion-row class="ion-justify-content-center">
              <ion-item>
                <ion-avatar class="ion-avatar" (click)="uploadPic()">
                  <img height="100px" [src]="user?.avatar_url" *ngIf="user.avatar_url; else nophoto">
                  <ng-template #nophoto>
                    <img height="100px" src="assets/images/useravatar.png">
                  </ng-template>
                  <ion-button icon="camera" shape="round" fill="clear" color="dark" class="profilebutton">
                    <ion-icon size="large" name="camera"></ion-icon>
                  </ion-button>
                </ion-avatar>
              </ion-item>
            </ion-row>

            <ion-item>
              <ion-label position="stacked">First Name</ion-label>
              <ion-input type="text" name="first_name" [(ngModel)]="user.first_name" required="true"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">Last Name</ion-label>
              <ion-input type="text" name="last_name" [(ngModel)]="user.last_name" required="true"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Email Address</ion-label>
              <ion-input type="email" name="email" [(ngModel)]="user.email" required="true"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Phone Number</ion-label>
              <ion-input type="text" name="phone_number" [(ngModel)]="user.phone_number" required="true"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">National ID No</ion-label>
              <ion-input type="text" name="id_number" [(ngModel)]="user.national_id" required="true"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Date of Birth</ion-label>
              <ion-datetime displayFormat="DDDD MMM D, YYYY" name="d_o_b" [(ngModel)]="user.d_o_b">
              </ion-datetime>
            </ion-item>
            <ion-item>
              <ion-label>Gender</ion-label>
              <ion-select type="text" name="gender" interface="action-sheet" placeholder="Select One"
                [(ngModel)]="user.gender">
                <ion-select-option value="Male">Male</ion-select-option>
                <ion-select-option value="Female">Female</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Password</ion-label>
              <ion-input type="password" name="password" [(ngModel)]="password" required="true"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Confirm Password</ion-label>
              <ion-input type="password" name="confirm_password" [(ngModel)]="password_confirm" required="true">
              </ion-input>
            </ion-item>
            <br>
            <ion-button type="submit" fill="solid" expand="block">
              Sign Up
            </ion-button>
            <br>
          </form>

        </ion-grid>
      </ion-item-group>
    </div>
  </div>
</ion-content>