.ion-avatar {
    height: 100px !important;
    width: 100px !important;
}

.yow {
    background: #DAA520;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #DAA520, #181818);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #DAA520, #181818);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.menuitem {
    --background: rgba(0, 0, 0, 0) !important;
    --border-color: rgba(0, 0, 0, 0) !important;
}

.item .sc-ion-label-md-h {
    color: #181818;
}