<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="saveProfile()">
        <ion-icon slot="start" name="save"></ion-icon>
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="signup-content" *ngIf="user?.email; else nocontent">
    <ion-row class="logo-row">
      <ion-col size="12">
        <h3>Edit Your Profile Information</h3>
      </ion-col>
    </ion-row>
    <div class="signup-box">
      <ion-item-group>
        <ion-grid>
          <ion-row class="ion-justify-content-center">
            <ion-item>
              <ion-avatar class="ion-avatar" (click)="uploadPic()">
                <img height="100px" [src]="user?.avatar_url" *ngIf="user.avatar_url; else nophoto">
                <ng-template #nophoto>
                  <img height="100px" src="assets/images/useravatar.png">
                </ng-template>
                <ion-button icon="camera" shape="round" fill="clear" color="dark" class="profilebutton">
                  <ion-icon size="large" name="camera"></ion-icon>
                </ion-button>
              </ion-avatar>
            </ion-item>
          </ion-row>

          <ion-item>
            <ion-label position="stacked">First Name</ion-label>
            <ion-input name="first_name" [(ngModel)]="user.first_name" required="true"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Last Name</ion-label>
            <ion-input name="last_name" [(ngModel)]="user.last_name" required="true"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Email Address</ion-label>
            <ion-input name="email" disabled='true' [(ngModel)]="user.email" required="true"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Phone Number</ion-label>
            <ion-input name="phone_number" [(ngModel)]="user.phone_number" required="true"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">National ID No</ion-label>
            <ion-input name="phone_number" [(ngModel)]="user.national_id" required="true"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Date of Birth</ion-label>
            <ion-datetime displayFormat="DDDD MMM D, YYYY" [(ngModel)]="user.d_o_b">
            </ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>Gender</ion-label>
            <ion-select interface="action-sheet" placeholder="Select One" [(ngModel)]="user.gender">
              <ion-select-option value="Male">Male</ion-select-option>
              <ion-select-option value="Female">Female</ion-select-option>
            </ion-select>
          </ion-item>
          <br>
        </ion-grid>
      </ion-item-group>
    </div>
  </div>

  <ng-template #nocontent>
    <div class="spin">
      <ion-spinner name="bubbles"></ion-spinner>
    </div>
  </ng-template>
</ion-content>