.signup-content {
    background: #eceff1;
}

.logo-row {
    height: 8%;
}

.signup-box {
    height: 70%;
    // background: #42a5f5;
    padding: 15px 15px 0px 15px;
    margin-top: auto;
}

ion-row {
    align-items: center;
    text-align: center;
}

ion-item {
    border-radius: 10px !important;
    font-size: 0.9em;
    margin-bottom: 15px;
    border-bottom: 0px !important;
    box-shadow: none !important;
    --background: transparent;
}

.signup-col {
    margin: 0px 16px 0px 16px;
    padding-bottom: 20px;
}


.ion-avatar {
    height: 100px !important;
    width: 100px !important;
}

.profilebutton {
    z-index: 2;
    position: absolute;
    left: 35%;
    top: 5%;
    margin: auto;
}

.spin {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

ion-spinner {
    width: 28px;
    height: 28px;
    stroke: #444;
    fill: #222;
}