<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Payments & Payouts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>