<ion-tabs>
  <ion-tab-bar slot="bottom" color="dark">
    <ion-tab-button tab="listings">
      <ion-icon name="home"></ion-icon>
      <ion-label>Lisitngs</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="host-chats">
      <ion-icon name="chatboxes"></ion-icon>
      <ion-label>Chats</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="stats">
      <ion-icon name="stats"></ion-icon>
      <ion-label>Stats</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="contact"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>