:root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
}

.swiper-slide {
    display: block;
}

ion-slide>h2 {
    margin-top: 2.8rem;
}

ion-slide>img {
    max-height: 50%;
    max-width: 60%;
    margin: 36px 0;
}

.jr_space {
    width: 100%;
    height: 0px;
}

.jr_landing_btm {
    position: fixed;
    width: 100%;
    bottom: 50px;
    z-index: 9;
    text-align: center;
    left: 0px;
    right: 0px;
}

.jr_slider_inner {
    width: 80%;
    margin: 0 auto;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 10%;
}

.jr_slide {
    text-align: center;
}

.jr_slide img {
    width: 200px;
    margin-top: 10px;
}

.jr_slide h4 {
    color: #fff;
    font-size: 24px;
    font-weight: 200;
    margin: 0px;
}

.jr_slide h3 {
    color: #fff;
    font-size: 35px;
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.jr_slide p {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    padding-top: 15px;
    line-height: 20px;
}

.landing_bg {
    background: url("../../../assets/images/bg.jpg") !important;
    background-repeat: no-repeat !important;
    background-position: center bottom !important;
    background-size: 100% !important;
    position: relative;
}

.jr_landing_overlay {
    // background: linear-gradient(rgba(241, 103, 46, 0.8), rgba(239, 89, 124, 0.8));
    background: linear-gradient(0deg, rgba(34, 149, 195, 0.8) 0%, rgba(156, 27, 27, 0.8) 100%);
}

.jr_landing_overlay_two {
    background: linear-gradient(rgba(160, 164, 45, 0.8), rgba(75, 132, 21, 0.8));
}

.jr_landing_overlay_three {
    background: linear-gradient(rgba(94, 190, 166, 0.8), rgba(36, 80, 164, 0.8));
}

.jr_landing_overlay_four {
    // background: linear-gradient(rgba(32, 119, 163, 0.8), rgba(43, 30, 65, 0.8));
    background: linear-gradient(0deg, rgba(195, 162, 34, 0.8) 0%, rgba(136, 27, 156, 0.8) 100%);
}

.jr_slide {
    text-align: center;
}

.jr_slide img {
    width: 200px;
    margin-top: 10px;
}

.jr_slide h4 {
    color: #fff;
    font-size: 24px;
    font-weight: 200;
    margin: 0px;
}

.jr_slide h3 {
    color: #fff;
    font-size: 35px;
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.jr_slide p {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    padding-top: 15px;
    line-height: 20px;
}

ion-slides {
    height: 100vh;
    background: url("../../../assets/images/bg.jpg") !important;
    background-repeat: no-repeat !important;
    background-position: center bottom !important;
    background-size: 100% !important;
    position: relative;
    --bullet-background: black;
    --bullet-background-active: white;
}


.jr_slider_inner {
    width: 80%;
    margin: 0 auto;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 10%;
}

.home_icon {
    font-size: 64px;
    color: #fff;
}

.facebook {
    --background: #3b5998
}