<ion-content fullscreen scroll-y="false">
  <ion-slides pager="true" class="landing_bg" #mySlider (ionSlideDidChange)="onSlideChanged()">
    <ion-slide class="jr_slide jr_landing_overlay">
      <div class="jr_slider_inner">
        <h4>Welcome to</h4>
        <h3><strong>HomeStay</strong></h3>
        <!-- <h4>Share the ride, split the cost</h4> -->
        <hr>
        <p>HomeStay helps you connect with your favourite holiday joints!</p>
        <div class="jr_space"></div>
      </div>
    </ion-slide>

    <ion-slide class="jr_slide jr_landing_overlay_two">
      <div class="jr_slider_inner">
        <h4>Find</h4>
        <h3><strong>Perfect Quarters</strong></h3>
        <hr>
        <p>HomeStay helps you connect with your favourite holiday joints!</p>
        <div class="jr_space"></div>
      </div>
    </ion-slide>

    <ion-slide class="jr_slide jr_landing_overlay_three">
      <div class="jr_slider_inner">
        <h4>Offer</h4>
        <h3><strong>Accomodation</strong></h3>
        <hr>
        <p>HomeStay helps you connect with your favourite holiday joints!</p>
        <div class="jr_space"></div>
      </div>
    </ion-slide>

    <ion-slide class="jr_slide jr_landing_overlay_four">
      <div class="jr_slider_inner">
        <h4>Now</h4>
        <h3>Get Started!</h3>

        <div class="sign_in_buttons ion-padding-top" style="margin-top: 30px;">
          <ion-button class="facebook" fill="solid" expand="block" (click)="loginWithFacebook()">Facebook
            <ion-icon slot="start" class="ion-padding-end" name="logo-facebook">
            </ion-icon>
          </ion-button>
          <br>
          <ion-button color="danger" expand="block" (click)="loginWithGoogle()">Google <ion-icon slot="start"
              name="logo-google" class="ion-padding-end">
            </ion-icon>
          </ion-button>
          <br>
          <ion-button fill="outline" expand="block" color="light" (click)="loginWithEmailAndPassword()">Email <ion-icon
              slot="start" class="ion-padding-end" name="mail"></ion-icon>
          </ion-button>
          <p><strong>-OR-</strong></p>
          <ion-button fill="outline" expand="block" color="light" [routerLink]="['/auth/signup']"
            routerLinkActive="router-link-active">Create Account
            <ion-icon slot="end" name="person-add"></ion-icon>
          </ion-button>
        </div>
        <div class="jr_space"></div>
      </div>
    </ion-slide>
  </ion-slides>
  <div class="jr_landing_btm">
    <ion-button color="light" size="small" [hidden]="currentIndex == 3" shape="round" fill="clear" (click)="skip()">Skip
    </ion-button>
  </div>
</ion-content>