<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>The Boma Hotel</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="actions()">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="">
    <ion-slides pager="true" class="landing_bg" #mySlider>
      <ion-slide *ngFor="let image of listing?.gallery">
        <div>
          <img style="height: 30vh; width: 100vw;" src="{{image}}" alt="">
        </div>
      </ion-slide>
    </ion-slides>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="8">
        <ion-card-subtitle>{{listing?.property_name | uppercase}}</ion-card-subtitle>
      </ion-col>
      <ion-col size="4">
        <ion-card-subtitle>{{listing?.price_per_night | currency: 'Ksh. '}}</ion-card-subtitle>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <small>{{listing?.description}}</small>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-start">
      <ion-col size="6">
        <ion-card-subtitle># Guests</ion-card-subtitle>
        <small class="ion-padding-start"><strong>{{listing?.number_of_guests}}</strong></small>
      </ion-col>
      <ion-col size="6">
        <ion-card-subtitle># Bathrooms</ion-card-subtitle>
        <small class="ion-padding-start"><strong>{{listing?.number_of_bathrooms}}</strong></small>
      </ion-col>

    </ion-row>
    <br>
    <ion-row class="ion-padding-start">
      <ion-col size="6">
        <ion-card-subtitle># Bedrooms</ion-card-subtitle>
        <small class="ion-padding-start"><strong>{{listing?.number_of_bedrooms}}</strong></small>
      </ion-col>
      <ion-col size="6">
        <ion-card-subtitle># Beds</ion-card-subtitle>
        <small class="ion-padding-start"><strong>{{listing?.number_of_beds}}</strong></small>
      </ion-col>
    </ion-row>
    <br>
    <ion-row class="ion-padding-start">
      <ion-col size="6">
        <ion-card-subtitle>Type</ion-card-subtitle>
        <small><strong>{{listing?.property_type}}</strong></small>
      </ion-col>
      <ion-col size="6">
        <ion-card-subtitle>Space</ion-card-subtitle>
        <small><strong>{{listing?.rentable_space}}</strong></small>
      </ion-col>
    </ion-row>
    <br>
    <ion-row class="ion-padding-start">
      <ion-col size="6">
        <ion-card-subtitle>Contact Person</ion-card-subtitle>
        <small><strong>{{listing?.contact_person_name}}</strong></small>
      </ion-col>
      <ion-col size="6">
        <ion-card-subtitle>Contact Number</ion-card-subtitle>
        <small><strong>{{listing?.contact_number}}</strong></small>
      </ion-col>
    </ion-row>
    <br>
    <ion-row>
      <ion-col size="12">
        <ion-card-subtitle class="ion-padding-start">Amenities</ion-card-subtitle>
        <ion-list>
          <ion-item *ngFor="let amenity of listing?.amenities">
            <small><strong>{{amenity}}</strong></small>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding">
      <ion-col size="12">
        <ion-card-subtitle>Location</ion-card-subtitle>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <!-- Map -->
      </ion-col>
    </ion-row>
    <br>
    <ion-row class="ion-padding">
      <ion-col size="12">
        <ion-card-subtitle>Landmark</ion-card-subtitle>
        <small><strong>{{listing?.landmark}}</strong></small>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>