<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal(undefined)">
        <ion-icon slot="start" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="signup-content">
    <ion-row class="logo-row">
      <ion-col></ion-col>
      <ion-col width-67>
        <h2>HomeStay</h2>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <div class="signup-box">
      <form #emailLoginForm="ngForm" (submit)="onEmailSignIn()">
        <ion-row>
          <ion-col>
            <ion-list inset>
              <ion-item>
                <ion-input type="email" placeholder="Email" name="email" [(ngModel)]="email" required></ion-input>
              </ion-item>

              <ion-item>
                <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="password" required>
                </ion-input>
              </ion-item>

            </ion-list>
          </ion-col>
        </ion-row>
        <br>
        <ion-row>
          <ion-col class="signup-col">
            <ion-button type="submit" class="submit-btn" expand="block" fill="solid" type="submit"
              [disabled]="!emailLoginForm.form.valid">Sign In</ion-button>
          </ion-col>
        </ion-row>
        <br>
        <ion-row>
          <ion-col size="12">
            <a style="text-decoration: none;" (click)="dismissModal('reset')">Forgot Password?</a>
          </ion-col>
        </ion-row>
      </form>

    </div>
  </div>
</ion-content>