<ion-header translucent>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>The Boma Hotel</ion-title> -->
    <!-- <ion-buttons slot="end">
      <ion-button (click)="actions()">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="">
    <ion-slides pager="true" class="landing_bg" #mySlider>
      <ion-slide *ngFor="let image of listing?.gallery">
        <div>
          <img style="height: 30vh; width: 100vw;" src="{{image}}" alt="">
        </div>
      </ion-slide>
    </ion-slides>
  </div>
  <ion-grid>
    <!-- Title and price -->
    <ion-row>
      <ion-col size="8">
        <ion-card-subtitle>{{listing?.property_name | uppercase}}</ion-card-subtitle>
      </ion-col>
      <ion-col size="4">
        <ion-card-subtitle>{{listing?.price_per_night | currency: 'Ksh. '}}</ion-card-subtitle>
      </ion-col>
    </ion-row>
    <br>
    <!-- Location -->
    <ion-row>
      <ion-col size="12">
        <small>{{listing?.location?.address}}</small>
      </ion-col>
    </ion-row>
    <br>
    <!-- Space and Ratings -->
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/images/useravatar.png">
          </ion-avatar>
          <ion-label>
            <h3><strong>{{listing?.rentable_space}}</strong></h3>
            <ion-row>
              <ion-col size="6">
                <small>{{listing?.number_of_guests}} Guests</small><br>
                <small>{{listing?.number_of_beds}} Beds</small>
              </ion-col>
              <ion-col size="6">
                <small>{{listing?.number_of_bedrooms}} Bedrooms</small><br>
                <small>{{listing?.number_of_bathrooms}} Bathrooms</small>
              </ion-col>
            </ion-row>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <br>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/images/useravatar.png">
          </ion-avatar>
          <ion-label>
            <h3><strong>Rating</strong></h3>
            <ion-row>
              <ion-col size="12">
                <p>
                  <ion-icon slot="start" name="star"></ion-icon>
                  <ion-icon slot="start" name="star"></ion-icon>
                  <ion-icon slot="start" name="star"></ion-icon>
                  <ion-icon slot="start" name="star"></ion-icon>
                  <ion-icon slot="start" name="star"></ion-icon>
                </p>
              </ion-col>
            </ion-row>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <br>
    <ion-item-divider>
      <ion-card-subtitle>About Property</ion-card-subtitle>
    </ion-item-divider>
    <ion-row>
      <ion-col size="12">
        <small>{{listing?.description}}</small>
      </ion-col>
    </ion-row>
    <br>
    <ion-item-divider>
      <ion-card-subtitle>Amenities</ion-card-subtitle>
    </ion-item-divider>
    <ion-row>
      <ion-col size="6" *ngFor="let amenity of listing?.amenities">
        <small><strong>{{amenity}}</strong></small>
      </ion-col>
    </ion-row>
    <br>
    <ion-item-divider>
      <ion-card-subtitle>Location</ion-card-subtitle>
    </ion-item-divider>
    <ion-row>
      <ion-col size="12">
        <!-- Mape -->
        <div style="height: 250px;"></div>
      </ion-col>
    </ion-row>
    <br>
    <ion-item-divider>
      <ion-card-subtitle>Reviews</ion-card-subtitle>
    </ion-item-divider>
    <ion-row>
      <ion-col size="12">
        <ion-item lines="none">
          <ion-avatar slot="start">
            <img src="assets/images/useravatar.png">
          </ion-avatar>
          <ion-label>
            <h3><strong>Jerry Odhiambo</strong></h3>
            <small>2nd Nov 2019</small><br>
            <small>Such a nice place to stay in and amazing hosts...Much love</small>
          </ion-label>
        </ion-item>

      </ion-col>
      <ion-col size="12">
        <ion-item lines="none">
          <ion-avatar slot="start">
            <img src="assets/images/useravatar.png">
          </ion-avatar>
          <ion-label>
            <h3><strong>Michael Anjia</strong></h3>
            <small>30th Aug 2019</small><br>
            <small>What you see is exactly what you get from this wonderful couple. Their hospitality is quite
              unprecedented, not withstanding their warm friendly approach</small>
          </ion-label>
        </ion-item>

      </ion-col>
    </ion-row>
    <br>
    <ion-item-divider>
      <ion-card-subtitle>About Host</ion-card-subtitle>
    </ion-item-divider>
    <ion-row>
      <ion-col size="12">
        <ion-item lines="none">
          <ion-avatar slot="start">
            <img src="assets/images/useravatar.png">
          </ion-avatar>
          <ion-label>
            <h3><strong>Dorindah Jovlet</strong></h3>
            <small><strong>Joined On:</strong>23rd March 2018</small><br>
            <p style="color: blue">View Bio</p>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>